In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from sklearn import linear_model
%matplotlib inline
import datetime

In [2]:
csv = 'sportsref_download (1).xls.csv'
df = pd.read_csv(csv)
df.drop(columns=["Start (ET)","Unnamed: 3","Opponent","Unnamed: 4","Unnamed: 5",'Unnamed: 8','Notes'], inplace=True)
df.rename(columns = {'Unnamed: 7':'Result'}, inplace=True)

### df['Date'] = pd.to_datetime(df['Date'])
df2 = pd.DataFrame(df['Date'])
#time_delta = (df["Date"][0]- df["Date"][0])
#time_delta
#time_delta = (df["Date"][2]- df["Date"][1])
#d = (df["Date"][i]) - (df["Date"][i])
#i= df["Date"][0]
# Print out dict keys via a for loop


# df['Difference'] = (df["Date"][1] - df['Date'][0]).dt.days

In [15]:
a = df2["Date"]
a = a.drop(0)
a = a.reset_index()
a = a.drop("index", axis=1)

In [19]:
df2["Date2"]= a
df2["Delta"] = df2["Date2"]-df2["Date"]
df2

         Date      Date2  Delta
0  2020-12-23 2020-12-26 3 days
1  2020-12-26 2020-12-27 1 days
2  2020-12-27 2020-12-29 2 days
3  2020-12-29 2020-12-31 2 days
4  2020-12-31 2021-01-02 2 days
..        ...        ...    ...
67 2021-05-09 2021-05-11 2 days
68 2021-05-11 2021-05-13 2 days
69 2021-05-13 2021-05-15 2 days
70 2021-05-15 2021-05-16 1 days
71 2021-05-16        NaT    NaT

[72 rows x 3 columns]

In [40]:
date2 = df2
a = pd.Dataframe(date2)
a

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [99]:
datetime.datetime.now()

datetime.datetime(2021, 12, 20, 0, 14, 40, 167478)

In [3]:
team_points = df['Tm'].sum()
opp_points = df['Opp'].sum()
total_games = df["G"].count()
team_avg_ppg = team_points/total_games
opp_avg_ppg = opp_points/total_games
team_avg_ppg = team_points/total_games
print(total_games)
print(team_points)
print(opp_points)
print(team_avg_ppg)
print(opp_avg_ppg)

72
7706
7540
107.02777777777777
104.72222222222223

In [4]:
df['team_avg_ppg'] = team_avg_ppg
df['opp_avg_ppg'] = opp_avg_ppg
pd.to_datetime(df)

,G,Date,Result,Tm,Opp,W,L,Streak,team_avg_ppg,opp_avg_ppg
0,1,"Wed, Dec 23, 2020",L,107,121,0,1,L 1,107.027778,104.722222
1,2,"Sat, Dec 26, 2020",L,89,109,0,2,L 2,107.027778,104.722222
2,3,"Sun, Dec 27, 2020",W,130,110,1,2,W 1,107.027778,104.722222
3,4,"Tue, Dec 29, 2020",W,95,86,2,2,W 2,107.027778,104.722222
4,5,"Thu, Dec 31, 2020",L,83,100,2,3,L 1,107.027778,104.722222
...,...,...,...,...,...,...,...,...,...,...
67,68,"Sun, May 9, 2021",W,106,100,38,30,W 1,107.027778,104.722222
68,69,"Tue, May 11, 2021",L,99,101,38,31,L 1,107.027778,104.722222
69,70,"Thu, May 13, 2021",W,102,98,39,31,W 1,107.027778,104.722222
70,71,"Sat, May 15, 2021",W,118,109,40,31,W 2,107.027778,104.722222
71,72,"Sun, May 16, 2021",W,96,92,41,31,W 3,107.027778,104.722222

In [27]:
half_season = df.loc[0:35]
half_season = half_season.drop(columns=["W","L","Streak","Date"])
half_season

     G Result   Tm  Opp  team_avg_ppg  opp_avg_ppg
0    1      L  107  121    107.027778   104.722222
1    2      L   89  109    107.027778   104.722222
2    3      W  130  110    107.027778   104.722222
3    4      W   95   86    107.027778   104.722222
4    5      L   83  100    107.027778   104.722222
5    6      W  106  102    107.027778   104.722222
6    7      W  113  108    107.027778   104.722222
7    8      W  112  100    107.027778   104.722222
8    9      L   89  101    107.027778   104.722222
9   10      L   89  114    107.027778   104.722222
10  11      L   88  109    107.027778   104.722222
11  12      L  109  116    107.027778   104.722222
12  13      L  103  106    107.027778   104.722222
13  14      W  105   75    107.027778   104.722222
14  15      W   91   84    107.027778   104.722222
15  16      W  119  104    107.027778   104.722222
16  17      L   94  103    107.027778   104.722222
17  18      L  113  116    107.027778   104.722222
18  19      L   94  108    107.027778   104.722222
19  20      W  102   81    107.027778   104.722222
20  21      L  115  129    107.027778   104.722222
21  22      L  102  110    107.027778   104.722222
22  23      W  107  103    107.027778   104.722222
23  24      W  110   99    107.027778   104.722222
24  25      L  103  109    107.027778   104.722222
25  26      L   96   98    107.027778   104.722222
26  27      W  109   91    107.027778   104.722222
27  28      W  121   99    107.027778   104.722222
28  29      W  123  112    107.027778   104.722222
29  30      L   89  107    107.027778   104.722222
30  31      W  103   99    107.027778   104.722222
31  32      L  106  114    107.027778   104.722222
32  33      W  140  121    107.027778   104.722222
33  34      W  110  107    107.027778   104.722222
34  35      W  109   90    107.027778   104.722222
35  36      L   93  119    107.027778   104.722222

In [6]:
team_points = half_season['Tm'].sum()
opp_points = half_season['Opp'].sum()
total_games = half_season["G"].count()
team_avg_ppg = team_points/total_games
opp_avg_ppg = opp_points/total_games
team_avg_ppg = team_points/total_games
print(total_games)
print(team_points)
print(opp_points)
print(team_avg_ppg)
print(opp_avg_ppg)

36
3767
3760
104.63888888888889
104.44444444444444

In [7]:
# transforming w l columns to binary classes

In [28]:
w_l = pd.DataFrame(half_season, columns=["Result","G"])
w_l.rename(columns = {'G':'Game'}, inplace=True)
w_l.rename(columns = {'Result':'Outcome'}, inplace=True)
w_l

   Outcome  Game
0        L     1
1        L     2
2        W     3
3        W     4
4        L     5
5        W     6
6        W     7
7        W     8
8        L     9
9        L    10
10       L    11
11       L    12
12       L    13
13       W    14
14       W    15
15       W    16
16       L    17
17       L    18
18       L    19
19       W    20
20       L    21
21       L    22
22       W    23
23       W    24
24       L    25
25       L    26
26       W    27
27       W    28
28       W    29
29       L    30
30       W    31
31       L    32
32       W    33
33       W    34
34       W    35
35       L    36

In [29]:
w_l_split = pd.get_dummies(w_l["Outcome"])
w_l_split.rename(columns = {'W':'W/L'}, inplace=True)
w_l_split.rename(columns = {'L':'loss'}, inplace=True)
w_l_split.head()

   loss  W/L
0     1    0
1     1    0
2     0    1
3     0    1
4     1    0

In [30]:
#win = 0 , loss = 1
w_l_df = pd.concat((w_l_split,w_l,half_season),axis=1)
w_l_df.drop(["Result"], axis=1, inplace=True)
w_l_df.drop(["loss"], axis=1,inplace=True)

In [31]:
#w_l_df = w_l_df.set_index('Game')
w_l_df = w_l_df.drop(["Outcome"], axis=1)
w_l_df = w_l_df.drop(["G"], axis=1)
w_l_df = w_l_df.drop(["Game"], axis=1)

In [32]:
w_l_df

    W/L   Tm  Opp  team_avg_ppg  opp_avg_ppg
0     0  107  121    107.027778   104.722222
1     0   89  109    107.027778   104.722222
2     1  130  110    107.027778   104.722222
3     1   95   86    107.027778   104.722222
4     0   83  100    107.027778   104.722222
5     1  106  102    107.027778   104.722222
6     1  113  108    107.027778   104.722222
7     1  112  100    107.027778   104.722222
8     0   89  101    107.027778   104.722222
9     0   89  114    107.027778   104.722222
10    0   88  109    107.027778   104.722222
11    0  109  116    107.027778   104.722222
12    0  103  106    107.027778   104.722222
13    1  105   75    107.027778   104.722222
14    1   91   84    107.027778   104.722222
15    1  119  104    107.027778   104.722222
16    0   94  103    107.027778   104.722222
17    0  113  116    107.027778   104.722222
18    0   94  108    107.027778   104.722222
19    1  102   81    107.027778   104.722222
20    0  115  129    107.027778   104.722222
21    0  102  110    107.027778   104.722222
22    1  107  103    107.027778   104.722222
23    1  110   99    107.027778   104.722222
24    0  103  109    107.027778   104.722222
25    0   96   98    107.027778   104.722222
26    1  109   91    107.027778   104.722222
27    1  121   99    107.027778   104.722222
28    1  123  112    107.027778   104.722222
29    0   89  107    107.027778   104.722222
30    1  103   99    107.027778   104.722222
31    0  106  114    107.027778   104.722222
32    1  140  121    107.027778   104.722222
33    1  110  107    107.027778   104.722222
34    1  109   90    107.027778   104.722222
35    0   93  119    107.027778   104.722222

In [34]:
y = w_l_df["W/L"]
X = w_l_df.drop(columns="W/L")

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)

In [36]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)
classifier

LogisticRegression(max_iter=200, random_state=1)

In [37]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [38]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 1.0

In [48]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results

   Prediction  Actual
0           1       1
1           1       1
2           1       1
3           1       1
4           1       1
5           0       0
6           0       0
7           1       1
8           0       0

In [40]:
w_l_df

    W/L   Tm  Opp  team_avg_ppg  opp_avg_ppg
0     0  107  121    107.027778   104.722222
1     0   89  109    107.027778   104.722222
2     1  130  110    107.027778   104.722222
3     1   95   86    107.027778   104.722222
4     0   83  100    107.027778   104.722222
5     1  106  102    107.027778   104.722222
6     1  113  108    107.027778   104.722222
7     1  112  100    107.027778   104.722222
8     0   89  101    107.027778   104.722222
9     0   89  114    107.027778   104.722222
10    0   88  109    107.027778   104.722222
11    0  109  116    107.027778   104.722222
12    0  103  106    107.027778   104.722222
13    1  105   75    107.027778   104.722222
14    1   91   84    107.027778   104.722222
15    1  119  104    107.027778   104.722222
16    0   94  103    107.027778   104.722222
17    0  113  116    107.027778   104.722222
18    0   94  108    107.027778   104.722222
19    1  102   81    107.027778   104.722222
20    0  115  129    107.027778   104.722222
21    0  102  110    107.027778   104.722222
22    1  107  103    107.027778   104.722222
23    1  110   99    107.027778   104.722222
24    0  103  109    107.027778   104.722222
25    0   96   98    107.027778   104.722222
26    1  109   91    107.027778   104.722222
27    1  121   99    107.027778   104.722222
28    1  123  112    107.027778   104.722222
29    0   89  107    107.027778   104.722222
30    1  103   99    107.027778   104.722222
31    0  106  114    107.027778   104.722222
32    1  140  121    107.027778   104.722222
33    1  110  107    107.027778   104.722222
34    1  109   90    107.027778   104.722222
35    0   93  119    107.027778   104.722222

In [11]:
pd.concat((w_l,w_l_split,half_season),axis=1)

,Game,L,W,G,Date,Result,Tm,Opp,W,L,Streak,team_avg_ppg,opp_avg_ppg
0,1,1,0,1,"Wed, Dec 23, 2020",L,107,121,0,1,L 1,107.027778,104.722222
1,2,1,0,2,"Sat, Dec 26, 2020",L,89,109,0,2,L 2,107.027778,104.722222
2,3,0,1,3,"Sun, Dec 27, 2020",W,130,110,1,2,W 1,107.027778,104.722222
3,4,0,1,4,"Tue, Dec 29, 2020",W,95,86,2,2,W 2,107.027778,104.722222
4,5,1,0,5,"Thu, Dec 31, 2020",L,83,100,2,3,L 1,107.027778,104.722222
5,6,0,1,6,"Sat, Jan 2, 2021",W,106,102,3,3,W 1,107.027778,104.722222
6,7,0,1,7,"Mon, Jan 4, 2021",W,113,108,4,3,W 2,107.027778,104.722222
7,8,0,1,8,"Wed, Jan 6, 2021",W,112,100,5,3,W 3,107.027778,104.722222
8,9,1,0,9,"Fri, Jan 8, 2021",L,89,101,5,4,L 1,107.027778,104.722222
9,10,1,0,10,"Sun, Jan 10, 2021",L,89,114,5,5,L 2,107.027778,104.722222
10,11,1,0,11,"Mon, Jan 11, 2021",L,88,109,5,6,L 3,107.027778,104.722222
11,12,1,0,12,"Wed, Jan 13, 2021",L,109,116,5,7,L 4,107.027778,104.722222
12,13,1,0,13,"Fri, Jan 15, 2021",L,103,106,5,8,L 5,107.027778,104.722222
13,14,0,1,14,"Sun, Jan 17, 2021",W,105,75,6,8,W 1,107.027778,104.722222
14,15,0,1,15,"Mon, Jan 18, 2021",W,91,84,7,8,W 2,107.027778,104.722222
15,16,0,1,16,"Thu, Jan 21, 2021",W,119,104,8,8,W 3,107.027778,104.722222
16,17,1,0,17,"Fri, Jan 22, 2021",L,94,103,8,9,L 1,107.027778,104.722222
17,18,1,0,18,"Sun, Jan 24, 2021",L,113,116,8,10,L 2,107.027778,104.722222
18,19,1,0,19,"Tue, Jan 26, 2021",L,94,108,8,11,L 3,107.027778,104.722222
19,20,0,1,20,"Fri, Jan 29, 2021",W,102,81,9,11,W 1,107.027778,104.722222
20,21,1,0,21,"Sun, Jan 31, 2021",L,115,129,9,12,L 1,107.027778,104.722222
21,22,1,0,22,"Mon, Feb 1, 2021",L,102,110,9,13,L 2,107.027778,104.722222
22,23,0,1,23,"Wed, Feb 3, 2021",W,107,103,10,13,W 1,107.027778,104.722222
23,24,0,1,24,"Sat, Feb 6, 2021",W,110,99,11,13,W 2,107.027778,104.722222
24,25,1,0,25,"Sun, Feb 7, 2021",L,103,109,11,14,L 1,107.027778,104.722222
25,26,1,0,26,"Tue, Feb 9, 2021",L,96,98,11,15,L 2,107.027778,104.722222
26,27,0,1,27,"Fri, Feb 12, 2021",W,109,91,12,15,W 1,107.027778,104.722222
27,28,0,1,28,"Sat, Feb 13, 2021",W,121,99,13,15,W 2,107.027778,104.722222
28,29,0,1,29,"Mon, Feb 15, 2021",W,123,112,14,15,W 3,107.027778,104.722222
29,30,1,0,30,"Wed, Feb 17, 2021",L,89,107,14,16,L 1,107.027778,104.722222
30,31,0,1,31,"Sun, Feb 21, 2021",W,103,99,15,16,W 1,107.027778,104.722222
31,32,1,0,32,"Tue, Feb 23, 2021",L,106,114,15,17,L 1,107.027778,104.722222
32,33,0,1,33,"Thu, Feb 25, 2021",W,140,121,16,17,W 1,107.027778,104.722222
33,34,0,1,34,"Sat, Feb 27, 2021",W,110,107,17,17,W 2,107.027778,104.722222
34,35,0,1,35,"Sun, Feb 28, 2021",W,109,90,18,17,W 3,107.027778,104.722222
35,36,1,0,36,"Tue, Mar 2, 2021",L,93,119,18,18,L 1,107.027778,104.722222

In [92]:
from sklearn.datasets import make_blobs

X, y = make_blobs(centers=2, random_state=42)

print(f"Labels: {y[:10]}")
print(f"Data: {X[:10]}")

Labels: [0 1 0 1 1 0 1 1 0 0]
Data: [[-2.98837186  8.82862715]
 [ 5.72293008  3.02697174]
 [-3.05358035  9.12520872]
 [ 5.461939    3.86996267]
 [ 4.86733877  3.28031244]
 [-2.14780202 10.55232269]
 [ 4.91656964  2.80035293]
 [ 3.08921541  2.04173266]
 [-2.90130578  7.55077118]
 [-3.34841515  8.70507375]]

TypeError: reshape() takes exactly 1 argument (0 given)